<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true" 
         executionOrder="random"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         resolveDependencies="true">
    <testsuites>
        <testsuite name="Tests">
        <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
        <directory suffix=".php">src/</directory>
        <directory suffix=".php">vendor/</directory>
        </whitelist>
    </filter>
</phpunit>
